<%- include('./port/layout-start', {title: title}) -%>
<%- include('./port/menu') -%>

<div class="min-h-full">
    <div class="py-10">
        <header>
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900">
                    <%= title %>
                </h1>
            </div>
        </header>

        <main>
            <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
                <% if(books.length) { %>
                    <ul role="list"
                        class="divide-y divide-gray-100">
                        <% books.map((book, idx) => { %>
                            <li class="relative flex justify-between gap-x-6 py-5 hover:bg-gray-100 p-4 rounded-md">
                                <div class="flex min-w-0 gap-x-4">
                                    <% if (book.fileCover) { %>
                                        <img class="size-12 flex-none rounded-full bg-gray-50"
                                             src="<%= book.fileCover %>"
                                             alt="">
                                    <% } %>

                                    <div class="min-w-0 flex-auto">
                                        <p class="text-sm/6 font-semibold text-gray-900">
                                            <a href="/book/<%= book.id %>">
                                                <span class="absolute inset-x-0 -top-px bottom-0"></span>
                                                <%= book.title %>
                                            </a>
                                        </p>
                                        <p class="mt-1 flex text-xs/5 text-gray-500">
                                            <%= book.authors.join(', ') %>
                                        </p>
                                    </div>
                                </div>

                                <div class="flex shrink-0 items-center gap-x-4">
                                    <div class="hidden sm:flex sm:flex-col sm:items-end">
                                        <% if (book.favorite) { %>
                                            <div class="flex-none rounded-full bg-emerald-500/20 p-1">
                                                <div class="size-1.5 rounded-full bg-emerald-500"></div>
                                            </div>
                                            <p class="text-xs/5 text-gray-500">Favorite</p>
                                        <% } %>
                                    </div>
                                    <svg class="size-5 flex-none text-gray-400"
                                         viewBox="0 0 20 20"
                                         fill="currentColor"
                                         aria-hidden="true"
                                         data-slot="icon">
                                        <path fill-rule="evenodd"
                                              d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                                              clip-rule="evenodd" />
                                    </svg>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <h3 class="mt-5">Записей пока нет</h3>
                <% } %>
            </div>
        </main>
    </div>
</div>

<%- include('./port/layout-end') -%>
